body {
  font-family: verdana, helvetica, arial, sans-serif;
  padding: 20px;
  font-size: 12px;
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
}

.demo-info {
  padding: 0 0 12px 0;
}

.demo-tip {
  display: none;
}

.label-top {
  display: block;
  height: 22px;
  line-height: 22px;

}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 20px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  border-radius: 25px;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}